@mixin button($color: green) {
    height: 24px;
    min-width: 24px;
    padding: 0;
    border-radius: 5px;
    text-align: center;
    position: relative;
    display: inline-block;
    color: rgba(0, 0, 0, .7);
    font-size: 18px;


    &:active,
    &.active {
        background: #eee;
        color: $color;
    }

    &:hover {
        background: #eee;
        cursor: pointer;
    }
}

@mixin clear-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

@mixin cell-resize {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: $primary-color;
    opacity: 0;
    
    &:hover {
        opacity: 1;
    }
}