$header-height: 50px;
$toolbar-height: 55px;
$formula-height: 24px;
$info-cell-width: 40px;
$cell-width: 120px;
$row-height: 24px;
$db-header-height: 64px;
$border-color-dark: #c0c0c0;
$border-color-light:#e2e3e3;
$primary-color: #3c74ff;