@import "~normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;1,300;1,500&display=swap');
@import "header";
@import "toolbar";
@import "formula";
@import "table";
@import "dashboard";

:root {
    --primary-color: #{$primary-color};
    --border-color-dark: #{$border-color-dark};
    --border-color-light: #{$border-color-light};
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
}

.excel {
    position: relative;
    color: #888;
    height: 100%;
    max-width: 100%;
    font-size: .8rem;
}